.navbar {
    background-color: green;
    padding: 4rem;
}

.navbar__day {
    color: white;
    padding: 1rem;
}

.navbar__day__challenge {
    font-size: 2rem;
    background-color: green;
    color: white;
    outline: 0;
    border: 0;
}

.navbar__day__challenge:hover {
    color: red;
}
